/*  This styles the giftastic html sheet.

    Written by Alex Chalyy on 3/2/2019. */

/*  This styles the bootstrap card that holds everything. */

#c1 {
    margin-top: 5%;
}

/*  This centers the title of the bootstrap card. */

#title  {
    text-align: center;
}

/*  This media query centers the search box on large screens.   */

@media (max-width: 12450px) {
    #search {
        margin-left: 5%;
    }
}

/*  This media query reduces the font of search box for small screens.  */

@media (max-height: 375px) {
    #search {
        padding-left: 0%;
        font-size: 50%;
    }
}